.glic-container {
    width: 100%;
    max-width: 960px;
    margin: auto;

}
#glic-form {
    border: 1px solid #000;
}

/** Popular Drug **/
.glic-hldr {
    text-align: center;
}
.drug-card {
    display: inline-block; 
    margin: 10px;
    border: 2px solid #000;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
}
.drug-card:hover {
  background-color: #000;
  color: #fff;
}
.drug-name {
  padding: 8px 20px;
  cursor: pointer;
}
#search-results {
  background: #000;
  margin: 0 auto;
  color: #fff;
  border-radius: 30px;
}
#search-results p {
  padding: 0 30px;
  cursor: pointer;
}
#search-results p:first-child {
  padding-top: 20px;
}
#search-results p:last-child {
  padding-bottom: 20px;
}
#search-results p:hover {
  color:#6e67e3;
}

/**  SUBSCRIPTION MODAL **/
.form-hidden {
  display: none;
}
.glicrx-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin-top: 0 ;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.glicrx-modal  form{
  margin: auto;
}
/* Set the modal overlay properties using ::before */
.glicrx-modal::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: -1; /* Make sure the overlay is behind the modal */
} 
.glicrx-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.glicrx-close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.glicrx-close-button:hover {
    background-color: darkgray;
}
.glicrx-show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


/** Auto Complete **/
#search-form {
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 0;
}
#search-form input {
  border-radius: 30px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100%;
    background: 0 0;
    margin-left: 0;
    padding-left: 25px;
    /* color: #fff; */
    background-color: #fff;
    font-size: 20px;
    letter-spacing: -.05px;
}
#search-form button {
  border-radius: 30px;
}
.search-results p {
  cursor: pointer;
  color: rgb(25, 26, 25);
}
  
  /** Spinner On Search **/
  #search-glic-spinner {
    display: none;
    text-align: center;
  }
  
  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  
  /** Data Attribute Form Update **/
  #data-attriform label {
    display: block;
    margin-top: 10px;
  }
  #data-attriform select,
  #data-attriform input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 30px;
  }
  #data-attriform button {
    border-radius: 30px;
    margin:20px auto;
  }

  /** Pharmacy Section **/
  #pharmacy_hldr ul {
    text-align: left;
    text-decoration: none;
    list-style: none;
    padding-left: 0;
}
#pharmacy_hldr .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
}

#pharmacy_hldr .accordion img {
    margin-right: 10px;
}

#pharmacy_hldr .active, 
#pharmacy_hldr .accordion:hover {
    background-color: #ccc;
}

#pharmacy_hldr .panel {
    padding: 20px 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

#pharmacy_hldr .panel p {
    margin: 0;
    display: flex;
    align-items: center;
}

#pharmacy_hldr .icon {
    margin-right: 5px;
}

#pharmacy_hldr .discount-btn,
#pharmacy_hldr .print-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    width: 100%;
    margin: 10px 0;
}

#pharmacy_hldr .print-btn {
    background-color: #008CBA;
}

#pharmacy_hldr .discount-btn:hover,
#pharmacy_hldr .print-btn:hover {
    background-color: #3e8e41;
}

#discount_card {
    display: flex;
    align-items: center;
    justify-content: center;
}

#pharmacy_hldr #email_input {
    width: 100%;
}

#pharmacy_hldr #discount_btn, #pharmacy_hldr #print_btn {
    width: 50%;
    margin: 10px;
}

#glicupdatehldr {
  display: grid;
  grid-template-columns: 20% 30% 50%;
  grid-gap: 20px;
  min-width: 960px;
  margin: 0 auto;
}


/* Optional: Add styles to each column */
#drug-update {
  background-color: #f5f5f5;
  padding: 20px;
}

#pharmacy_hldr {
  background-color: #f0f0f0;
  padding: 20px;
}

#map-hldr {
  background-color: #e5e5e5;
  padding: 20px;
}
